In [50]:
cd

/Users/danaalmansour

In [51]:
cd desktop

/Users/danaalmansour/Desktop

In [52]:
ls

625hw/
627 HW6.xlsx
701/
Applied Numerical Analysis.pdf
CPE 625_HW01.pdf
CPE 625_HW02.pdf
CPE 625_HW03.pdf
CPE625_Dana_Almansour_HW4 (1).xlsx
CPE625_HW4.pdf
CPE625_HW5.pdf
CPE625_HW6.pdf
CPE625_HW7.pdf
Dana.odt
Dragons tickets.pdf
EECS_HW1_DataSet1 - Jupyter Notebook.pdf
EECS_HW1_DataSet2 - Jupyter Notebook.pdf
KU documents/
Metalica tickets.pdf
Q3/
Screen Shot 2020-09-14 at 7.32.43 PM.png
Screen Shot 2020-09-15 at 5.05.53 PM.png
Screen Shot 2020-09-15 at 6.05.25 PM.png
Screen Shot 2020-09-15 at 6.31.09 PM.png
Screen Shot 2020-09-17 at 11.55.27 PM.pdf
Screen Shot 2020-09-17 at 6.03.45 PM.png
Screen Shot 2020-09-19 at 8.02.36 PM.png
Screen Shot 2020-09-19 at 8.13.47 PM.png
Screen Shot 2020-09-23 at 11.31.54 PM.png
Screen Shot 2020-09-23 at 8.32.04 PM.png
Screen Shot 2020-09-23 at 8.32.14 PM.png
Screen Shot 2020-09-23 at 8.32.24 PM.png
Screen Shot 2020-09-23 at 8.32.34 PM.png
Screen Shot 2020-09-23 at 8.32.47 PM.png
Screen Shot 2020-09-24 at 12.07.26 AM.png
Screen Shot 2020-09-24 at 2.30.15 AM.png
Screen Shot 2020-09-26 at 1.22.36 AM.png
Shakespear/
Shakespeare_data.csv*
chegg/
dana(1).ipynb
f198e1b85fe17f289ef329c357b990c3_353b1b4ee6f7616d44d3fc7adccdab91.ipynb
hw3.doc
lawrence/
screen shots/
zoom_0.mp4
~$#7 cheet sheat.docx
~$5 hw 4 Q2.docx
~$7 cheet sheat.docx
~$C&PE527_PROJECT2_Almansour_Dana.xlsx
~$CPE121_20_EMyers.xlsm
~$CPE121_HW01_dalmansour.xlsx
~$CPE121_HW03_dalmansour.xlsx
~$CPE121_HW07_DALMANSOUR.xlsm
~$CPE121_HW09_dalmansour.xlsm
~$CPE121_PROJECT1_DALMANSOUR 2.xlsx
~$CPE121_PROJECT2_dalmansour.xlsm
~$CPE121_Project1_dmanzi.xlsx
~$CPE121__Project2_dalmansour1.xlsm
~$CPE527_PROJECT2_AAli.xlsx
~$Dana Excel hw.xlsx
~$Dana.odt
~$E Project.docx
~$GL 101 RESPONSE 2.docx
~$GTS.docx
~$HW13.docx
~$MATH1.docx
~$Song.docx
~$actice memo.docx
~$ateboard pics.docx
~$b Report #1.docx
~$creasing atmospheric CO2 on clouds causes marine stratus clouds become more and more unstable until they disappear completely.docx
~$cs_files_2012_08_ECS-Example-Resume-BSE.docx
~$devesual test sheet.docx
~$e you FRACKING kidding me.docx
~$eat sheet for twst 1 cpe 522.docx
~$eewriting.docx
~$fshore Exploration 3.docx
~$geol shit.xlsx
~$hw3 res.xlsx
~$illing project.docx
~$na Almansour AAAS paper 1.docx
~$na Almansour RESUME first.docx
~$na Almansour Resume.docx
~$na Almansour draaft.docx
~$na Almansour essay                                                                                                                     Almansour.docx
~$na Almansour second draftt.docx
~$na Almansour_Paper#5.docx
~$nal Project Discreption.docx
~$rcent Change.docx
~$rst draft .docx
~$slims Seek New Burial Ground Article.docx
~$sx exam 1 cheat sheet.docx
~$tRevDraft (2).docx
~$thout inquiry.docx
~$urnal5.docx
~$ver letter first draft.docx
~$wer point cheet sheet.docx

In [53]:
cd desktop/shakespear

[Errno 2] No such file or directory: 'desktop/shakespear'
/Users/danaalmansour/Desktop

In [54]:
ls

625hw/
627 HW6.xlsx
701/
Applied Numerical Analysis.pdf
CPE 625_HW01.pdf
CPE 625_HW02.pdf
CPE 625_HW03.pdf
CPE625_Dana_Almansour_HW4 (1).xlsx
CPE625_HW4.pdf
CPE625_HW5.pdf
CPE625_HW6.pdf
CPE625_HW7.pdf
Dana.odt
Dragons tickets.pdf
EECS_HW1_DataSet1 - Jupyter Notebook.pdf
EECS_HW1_DataSet2 - Jupyter Notebook.pdf
KU documents/
Metalica tickets.pdf
Q3/
Screen Shot 2020-09-14 at 7.32.43 PM.png
Screen Shot 2020-09-15 at 5.05.53 PM.png
Screen Shot 2020-09-15 at 6.05.25 PM.png
Screen Shot 2020-09-15 at 6.31.09 PM.png
Screen Shot 2020-09-17 at 11.55.27 PM.pdf
Screen Shot 2020-09-17 at 6.03.45 PM.png
Screen Shot 2020-09-19 at 8.02.36 PM.png
Screen Shot 2020-09-19 at 8.13.47 PM.png
Screen Shot 2020-09-23 at 11.31.54 PM.png
Screen Shot 2020-09-23 at 8.32.04 PM.png
Screen Shot 2020-09-23 at 8.32.14 PM.png
Screen Shot 2020-09-23 at 8.32.24 PM.png
Screen Shot 2020-09-23 at 8.32.34 PM.png
Screen Shot 2020-09-23 at 8.32.47 PM.png
Screen Shot 2020-09-24 at 12.07.26 AM.png
Screen Shot 2020-09-24 at 2.30.15 AM.png
Screen Shot 2020-09-26 at 1.22.36 AM.png
Shakespear/
Shakespeare_data.csv*
chegg/
dana(1).ipynb
f198e1b85fe17f289ef329c357b990c3_353b1b4ee6f7616d44d3fc7adccdab91.ipynb
hw3.doc
lawrence/
screen shots/
zoom_0.mp4
~$#7 cheet sheat.docx
~$5 hw 4 Q2.docx
~$7 cheet sheat.docx
~$C&PE527_PROJECT2_Almansour_Dana.xlsx
~$CPE121_20_EMyers.xlsm
~$CPE121_HW01_dalmansour.xlsx
~$CPE121_HW03_dalmansour.xlsx
~$CPE121_HW07_DALMANSOUR.xlsm
~$CPE121_HW09_dalmansour.xlsm
~$CPE121_PROJECT1_DALMANSOUR 2.xlsx
~$CPE121_PROJECT2_dalmansour.xlsm
~$CPE121_Project1_dmanzi.xlsx
~$CPE121__Project2_dalmansour1.xlsm
~$CPE527_PROJECT2_AAli.xlsx
~$Dana Excel hw.xlsx
~$Dana.odt
~$E Project.docx
~$GL 101 RESPONSE 2.docx
~$GTS.docx
~$HW13.docx
~$MATH1.docx
~$Song.docx
~$actice memo.docx
~$ateboard pics.docx
~$b Report #1.docx
~$creasing atmospheric CO2 on clouds causes marine stratus clouds become more and more unstable until they disappear completely.docx
~$cs_files_2012_08_ECS-Example-Resume-BSE.docx
~$devesual test sheet.docx
~$e you FRACKING kidding me.docx
~$eat sheet for twst 1 cpe 522.docx
~$eewriting.docx
~$fshore Exploration 3.docx
~$geol shit.xlsx
~$hw3 res.xlsx
~$illing project.docx
~$na Almansour AAAS paper 1.docx
~$na Almansour RESUME first.docx
~$na Almansour Resume.docx
~$na Almansour draaft.docx
~$na Almansour essay                                                                                                                     Almansour.docx
~$na Almansour second draftt.docx
~$na Almansour_Paper#5.docx
~$nal Project Discreption.docx
~$rcent Change.docx
~$rst draft .docx
~$slims Seek New Burial Ground Article.docx
~$sx exam 1 cheat sheet.docx
~$tRevDraft (2).docx
~$thout inquiry.docx
~$urnal5.docx
~$ver letter first draft.docx
~$wer point cheet sheet.docx

In [55]:
# csv - comma separated values
# pandas, numpy, matplotlib, seaborn

In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [57]:

data_csv = pd.read_csv('Shakespeare_data.csv')

In [58]:
data_csv.sample(5)

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
110295,110296,A Winters Tale,131.0,4.4.503,Shepherd,"I cannot speak, nor think"
71019,71020,Much Ado about nothing,30.0,4.1.67,BENEDICK,This looks not like a nuptial.
19197,19198,Antony and Cleopatra,5.0,2.1.14,POMPEY,Says it will come to the full. Mark Antony
73968,73969,Othello,104.0,3.3.325,EMILIA,I am glad I have found this napkin:
50426,50427,King Lear,8.0,2.4.17,KENT,"It is both he and she,"

In [59]:
#feature engineering - it means building new features by applying operations on current one, or maybe adding a new feature
# exploratroy data analysis (EDA) - studying the dataset, like by plotting charts and
#  drawing inferences about the data

In [60]:
data_csv.dtypes

Dataline              int64
Play                 object
PlayerLinenumber    float64
ActSceneLine         object
Player               object
PlayerLine           object
dtype: object

In [61]:
data_csv.head()

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,Henry IV,NaN,NaN,NaN,ACT I
1,2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"

In [62]:
data_csv.isna().sum()

Dataline               0
Play                   0
PlayerLinenumber       3
ActSceneLine        6243
Player                 7
PlayerLine             0
dtype: int64

In [63]:
data_csv['Player'].replace('Other', 'Dana', inplace  = True)

In [64]:
data_csv['PlayerLinenumber'] = data_csv['PlayerLinenumber'].fillna(method='bfill')

In [65]:
data_csv.head()

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,Henry IV,1.0,NaN,NaN,ACT I
1,2,Henry IV,1.0,NaN,NaN,SCENE I. London. The palace.
2,3,Henry IV,1.0,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"

In [66]:
data_csv['Player'].isna().sum()

7

In [67]:
data_csv['Play&PlayerLine'] = data_csv['Play'] + " " + data_csv['PlayerLine'] #Feature Engineering

In [68]:
data_csv.head()

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine,Play&PlayerLine
0,1,Henry IV,1.0,NaN,NaN,ACT I,Henry IV ACT I
1,2,Henry IV,1.0,NaN,NaN,SCENE I. London. The palace.,Henry IV SCENE I. London. The palace.
2,3,Henry IV,1.0,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ...","Henry IV Enter KING HENRY, LORD JOHN OF LANCAS..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,","Henry IV So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,",Henry IV Find we a time for frighted peace to ...

In [69]:
data_csv['PlayerLinenumber'].ffill(inplace = True)

In [70]:
data_csv.head()

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine,Play&PlayerLine
0,1,Henry IV,1.0,NaN,NaN,ACT I,Henry IV ACT I
1,2,Henry IV,1.0,NaN,NaN,SCENE I. London. The palace.,Henry IV SCENE I. London. The palace.
2,3,Henry IV,1.0,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ...","Henry IV Enter KING HENRY, LORD JOHN OF LANCAS..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,","Henry IV So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,",Henry IV Find we a time for frighted peace to ...

In [71]:
data_csv.head()

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine,Play&PlayerLine
0,1,Henry IV,1.0,NaN,NaN,ACT I,Henry IV ACT I
1,2,Henry IV,1.0,NaN,NaN,SCENE I. London. The palace.,Henry IV SCENE I. London. The palace.
2,3,Henry IV,1.0,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ...","Henry IV Enter KING HENRY, LORD JOHN OF LANCAS..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,","Henry IV So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,",Henry IV Find we a time for frighted peace to ...

In [72]:
# data_X =

In [73]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_csv.loc[:,'Play':'PlayerLinenumber'], data_csv['Player'], test_size = 0.2, random_state = 42)

In [74]:
X_train.shape

(89116, 2)

In [75]:
X_test.shape

(22280, 2)

In [76]:
X_train.shape[0] / (X_train.shape[0] + X_test.shape[0])

0.7999928184135876

In [77]:
from sklearn.svm import LinearSVC
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_classification

In [78]:
df = data_csv.copy()

In [79]:
df['Play'] = df['Play'].astype('category')

In [80]:
df['Player'] = df['Player'].astype('category')

In [81]:
df['PlayerLineCount'] = df['PlayerLine'].apply(lambda x:len(x.split(' ')))

In [82]:
df['Play&PlayerLineCount'] = df['Play&PlayerLine'].apply(lambda x:len(x.split(' ')))

In [83]:
df.drop(['PlayerLine','Play&PlayerLine','ActSceneLine','Dataline'], axis=1, inplace=True)

In [84]:
df.reset_index()

,index,Play,PlayerLinenumber,Player,PlayerLineCount,Play&PlayerLineCount
0,0,Henry IV,1.0,NaN,2,4
1,1,Henry IV,1.0,NaN,5,7
2,2,Henry IV,1.0,NaN,16,18
3,3,Henry IV,1.0,KING HENRY IV,9,11
4,4,Henry IV,1.0,KING HENRY IV,9,11
...,...,...,...,...,...,...
111391,111391,A Winters Tale,38.0,LEONTES,8,11
111392,111392,A Winters Tale,38.0,LEONTES,8,11
111393,111393,A Winters Tale,38.0,LEONTES,9,12
111394,111394,A Winters Tale,38.0,LEONTES,6,9
111395,111395,A Winters Tale,38.0,LEONTES,1,4

In [85]:
df = df.dropna()

In [86]:
df

,Play,PlayerLinenumber,Player,PlayerLineCount,Play&PlayerLineCount
3,Henry IV,1.0,KING HENRY IV,9,11
4,Henry IV,1.0,KING HENRY IV,9,11
5,Henry IV,1.0,KING HENRY IV,7,9
6,Henry IV,1.0,KING HENRY IV,7,9
7,Henry IV,1.0,KING HENRY IV,8,10
...,...,...,...,...,...
111391,A Winters Tale,38.0,LEONTES,8,11
111392,A Winters Tale,38.0,LEONTES,8,11
111393,A Winters Tale,38.0,LEONTES,9,12
111394,A Winters Tale,38.0,LEONTES,6,9
111395,A Winters Tale,38.0,LEONTES,1,4

In [95]:
labels = df['Play'].astype('category').cat.categories.tolist()

In [96]:
mapper = {'Play' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}

In [97]:
df.replace(mapper,inplace=True)

In [98]:
y = df['Player']

In [99]:
X = df.drop('Player',axis=1)

In [100]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [101]:
clf = LinearSVC(random_state=0, tol=1e-5)

In [ ]:
clf.fit(X_train,y_train)